@import "../../styles/Variables.scss";

.product-card-skeleton {
  width: 100%;
  display: grid;

  .image {
    width: 260px;
    border-radius: 1rem;
    background-color: $skeleton-background;
    height: 300px;
  }

  p {
    height: 1rem;
    width: 100%;
    background-color: $skeleton-background;
    border-radius: 1rem;
  }

  .title_1 {
    margin-top: 10px;
    width: 90%;
  }

  .price {
    margin-top: 0.1rem;
    width: 80%;
  }

  .stars {
    width: 50%;
  }
}

@media (min-width: $smallest) and (max-width: $large-mobile) {
  .product-card-skeleton {
    gap: 1rem;
    padding: 2px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product-card-skeleton .image {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: $large-mobile) and (max-width: $tablet) {
  .product-card-skeleton {
    gap: 1rem;
    padding: 5px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .product-card-skeleton .image {
    width: 200px;
    height: 200px;
  }
}
