@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.products_page {
  @include flex-center-class;
}

.products-panel {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

@media (min-width: $smallest) and (max-width: $large-mobile) {
  .products-panel {
    gap: 1rem;
    padding: 5px 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: $large-mobile) and (max-width: $tablet) {
  .products-panel {
    gap: 1rem;
    padding: 5px 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: $desktop) {
  .products-panel {
    padding: 0px 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
