//screen-sizes
$smallest: 200px;
$large-mobile: 600px;
$tablet: 780px;
$desktop: 1100px;

// font sizes
$xxx-large: 3rem;

// colors
$base-font-color: rgb(53, 53, 53);
$light-font-color: rgba(39, 39, 39, 0.7);
$xlight-font-color: rgba(39, 39, 39, 0.5);
$blue-primary: #4395f5;
$star-color: #eeaa22;
$skeleton-background: rgba(128, 128, 128, 0.253);
