@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.big_search_wrapper {
  width: 100%;
  @include flex-center-class;
  border-radius: 1rem;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 2px 5px 5px #cdcdcd7d;
}

.big_search_wrapper input[type="text"] {
  width: 100%;
}

.big_search_input {
  width: 100%;
  font-size: large;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: $base-font-color;
}

.big_search_icon {
  margin-left: auto;
  margin-right: 10px;
  font-size: 1rem;
  color: $xlight-font-color;
}

.search_helper_wrapper {
  width: 100%;
  margin: auto;
  box-shadow: 0px 5px 15px 2px #a3a3a37d;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
