@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.search_results {
  width: 100%;
  @include flex-align-start;
  flex-direction: column;

  .panel_wrapper {
    @include flex-both-start;
    flex-direction: column;
  }

  @media (min-width: $tablet) {
    .panel_wrapper {
      flex-direction: row;
    }
  }
}

.search-navbar {
  width: 100%;
  @include flex-center-class;
  z-index: 1;
  background-color: white;
}

.search-navbar form {
  width: 100%;
  margin-bottom: 1rem;
}

.search_wrapper {
  width: 60%;
  margin: auto;
  position: relative;
  @include flex-center-class;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 1rem;
}
@media (max-width: $large-mobile) {
  .search_wrapper {
    width: 90%;
  }
}
.search_input {
  width: 100%;
  font-size: large;
  padding: 0.7rem;
  padding-right: 3rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: $base-font-color;
}

.search_icon {
  position: absolute;
  right: 1rem;
  font-size: large;
  color: $xlight-font-color;
}
